<header>
    <nav>
        <img src="/images/car-logo.png" class="logo" alt="">
        <div class="menu">
            <a href="/reco">Home</a>
            <a href="/about">Problematica</a>
            <a href="/estadistica">Estadistica</a>
            
        </div>
        <div class="social">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </nav>
</header>
<body>
   
</body>
