<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="hero">

        <%- include('partials/header') %>
        <div id="Contenido">
            <div class="RadiacionSolar mt10">
                <div id="ResDia1" class="enedia open" onclick="ShowHideHorasDia(1);">
                    <h3>Hoy - 15 Junio</h3>
                    <span class="barg">
                        <span class="rad" style="width:81.158605174353%;"></span>
                    </span>
                    <span class="tot">
                        Total: <strong>4329</strong>
                        wh/m<sup>2</sup>
                    </span>
                    <span class="more">Horas</span>
                </div>
                <div id="HorasDia1" class="horashidsow">
                    <div class="horhor">
                        <span class="hora">07:00</span>
                        <span class="bar">
                            <span class="rad" style="width:3.6111111111111%;"></span>
                        </span>
                        <span class="ener">
                            <strong>26</strong>
                            w/m<sup>2</sup>
                        </span>
                    </div>
                    <div class="horhor">
                        <span class="hora">08:00</span>
                        <span class="bar">
                            <span class="rad" style="width:22.5%;"></span>
                        </span>
                        <span class="ener">
                            <strong>162</strong>
                            w/m<sup>2</sup>
                        </span>
                    </div>
                    <div class="horhor">
                        <span class="hora">09:00</span>
                        <span class="bar">
                            <span class="rad" style="width:63.611111111111%;"></span>
                        </span>
                        <span class="ener">
                            <strong>458</strong>
                            w/m<sup>2</sup>
                        </span>
                    </div>
                    <div class="horhor">
                        <span class="hora">10:00</span>
                        <span class="bar">
                            <span class="rad" style="width:76.527777777778%;"></span>
                        </span>
                        <span class="ener">
                            <strong>551</strong>
                            w/m<sup>2</sup>
                        </span>
                    </div>
                    <div class="horhor">
                        <span class="hora">11:00</span>
                        <span class="bar">
                            <span class="rad" style="width:70.694444444444%;"></span>
                        </span>
                        <span class="ener">
                            <strong>509</strong>
                            w/m<sup>2</sup>
                        </span>
                    </div>
                    <div class="horhor">
                        <span class="hora">12:00</span>
                        <span class="bar">
                            <span class="rad" style="width:77.916666666667%;"></span>
                        </span>
                        <span class="ener">
                            <strong>561</strong>
                            w/m<sup>2</sup>
                        </span>
                    </div>
                    <div class="horhor">
                        <span class="hora">13:00</span>
                        <span class="bar">
                            <span class="rad" style="width:100%;"></span>
                        </span>
                        <span class="ener">
                            <strong>720</strong>
                            w/m<sup>2</sup>
                        </span>
                    </div>
                    <div class="horhor">
                        <span class="hora">14:00</span>
                        <span class="bar">
                            <span class="rad" style="width:67.777777777778%;"></span>
                        </span>
                        <span class="ener">
                            <strong>488</strong>
                            w/m<sup>2</sup>
                        </span>
                    </div>
                    <div class="horhor">
                        <span class="hora">15:00</span>
                        <span class="bar">
                            <span class="rad" style="width:62.361111111111%;"></span>
                        </span>
                        <span class="ener">
                            <strong>449</strong>
                            w/m<sup>2</sup>
                        </span>
                    </div>
                    <div class="horhor">
                        <span class="hora">16:00</span>
                        <span class="bar">
                            <span class="rad" style="width:41.944444444444%;"></span>
                        </span>
                        <span class="ener">
                            <strong>302</strong>
                            w/m<sup>2</sup>
                        </span>
                    </div>
                    <div class="horhor">
                        <span class="hora">17:00</span>
                        <span class="bar">
                            <span class="rad" style="width:14.305555555556%;"></span>
                        </span>
                        <span class="ener">
                            <strong>103</strong>
                            w/m<sup>2</sup>
                        </span>
                    </div>
                    <div class="horhor">
                        <span class="hora">18:00</span>
                        <span class="bar">
                            <span class="rad" style="width:41.944444444444%;"></span>
                        </span>
                        <span class="ener">
                            <strong>302</strong>
                            w/m<sup>2</sup>
                        </span>
                    </div>
                    <div class="horhor">
                        <span class="hora">19:00</span>
                        <span class="bar">
                            <span class="rad" style="width:41.944444444444%;"></span>
                        </span>
                        <span class="ener">
                            <strong>302</strong>
                            w/m<sup>2</sup>
                        </span>
                    </div>
                    <div class="horhor">
                        <span class="hora">20:00</span>
                        <span class="bar">
                            <span class="rad" style="width:41.944444444444%;"></span>
                        </span>
                        <span class="ener">
                            <strong>302</strong>
                            w/m<sup>2</sup>
                        </span>
                    </div>
                    <div class="horhor">
                        <span class="hora">21:00</span>
                        <span class="bar">
                            <span class="rad" style="width:41.944444444444%;"></span>
                        </span>
                        <span class="ener">
                            <strong>302</strong>
                            w/m<sup>2</sup>
                        </span>
                    </div>
                    <div class="horhor">
                        <span class="hora">22:00</span>
                        <span class="bar">
                            <span class="rad" style="width:41.944444444444%;"></span>
                        </span>
                        <span class="ener">
                            <strong>302</strong>
                            w/m<sup>2</sup>
                        </span>
                    </div>

                </div>
                
        <script>
            var IniciadoSolRad = 0;
            function ShowHideHorasDia(n) {
                if (IniciadoSolRad < 1) {
                    return;
                }
                if ($("#ResDia" + n).hasClass("open")) {
                    $("#ResDia" + n).removeClass("open");
                    $("#HorasDia" + n).addClass("ocultas");
                } else {
                    $(".horashidsow").addClass("ocultas");
                    $(".enedia").removeClass("open");
                    $("#ResDia" + n).addClass("open");
                    $("#HorasDia" + n).removeClass("ocultas");
                }
            }
            function IniciarRadiacionSolar() {
                IniciadoSolRad = 1;
            }
        </script>
    
    

<script src="https://oc.tutiempo.net/js/jquery.min.js"></script>
<script type="text/javascript">
var CLData = "-1";
var LangJSparse = "ES";
var imgpinterest = "https://oc.tutiempo.net/i/radiacion-solar/radiacion.jpg";
var upasp = 0;
function ReloadPremium() {
    var form = document.createElement("form");
    var element1 = document.createElement("input");
    form.method = "POST";
    form.action = "";
    element1.value = "1";
    element1.name = "reloadpage";
    form.appendChild(element1);
    document.body.appendChild(form);
    form.submit();
}
function getCookieValue(b) {
    b += "=";
    for (var d = document.cookie.split(";"), c = 0; c < d.length; c++) {
        for (var a = d[c]; " " == a.charAt(0); )
            a = a.substring(1, a.length);
        if (0 == a.indexOf(b))
            return decodeURIComponent(a.substring(b.length, a.length))
    }
    return null
}
;if (getCookieValue('sapr') && upasp < 1) {
    ReloadPremium();
} else if (!getCookieValue('sapr') && upasp == 1) {
    ReloadPremium();
}
</script>
<script src="https://oc.tutiempo.net/js/ttv7.016.min.js"></script>
<script type="text/javascript">
function IniciarScriptsExternosDependientes() {
    IniciarRadiacionSolar();
}
</script>
<script src="//s.richaudience.com/cnt/14zDcRY52k/?ord=1847310808" async></script>
<script type="text/javascript">
window._taboola = window._taboola || [];
_taboola.push({
    flush: true
});
</script>
    </div>
</div>

    <script>
        let heroBg = document.querySelector('.hero');

        setInterval(() => {
            heroBg.style.backgroundImage = "url(/images/traficoo2.png)"
            
            
        }, 2200);
    </script>


        <style>

            * {
                position: relative
            }

            .ContBannerTop {
                position: relative;
                z-index: 10;
                width: 100%;
                min-height: 20px;
                max-height: 300px;
                max-width: 1069px;
                margin: 0 auto;
                display: block;
                clear: both;
                padding-bottom: 20px;
                overflow: hidden;
                background: #4095cd;
            }

            .MargenSuperior {
                z-index: 2;
                height: 295px;
            }

            .MargenSuperior iframe.scrollframe {
                margin-top: 45px;
                border: none;
                overflow: hidden;
                width: 100%;
                height: 250px;
            }

            #Contenido {
                background: #fff;
                z-index: 10;
                width: 100%;
                min-width: 250px;
                max-width: 1069px;
                overflow: hidden;
                margin: 0 auto;
                display: block;
                clear: both
            }

            #Contenido .Columnas {
                background-color: #fff;
                width: 100%;
                padding-bottom: 20px
            }

            #ColumnaIzquierda {
                margin-right: 330px;
                overflow: hidden;
                min-height: 700px
            }

            #ColumnaIzquierda .Bloque728 {
                padding-left: 10px;
                padding-top: 10px;
                width: auto;
                max-width: 728px;
                clear: both
            }

            #ColumnaDerecha {
                width: 320px;
                background-color: #eef7fc;
                border-left: 1px solid #cae6f8;
                position: absolute;
                right: 0;
                top: 0;
                padding-top: 10px
            }

            #ColumnaDerecha .Bloque300 {
                width: 300px;
                padding-left: 10px;
                padding-right: 10px;
                clear: both
            }

            #ColumnaDerecha .Bloque300.publi {
                background-color: #fff
            }

            #ColumnaDerecha .Bloque300.bt1 {
                border-top: 1px solid #cae6f8;
                padding-top: 10px
            }

            #ColumnaDerecha .Bloque300.bb1 {
                border-bottom: 1px solid #cae6f8;
                padding-bottom: 10px
            }

            #Contenido .Columnas .LineColumnas {
                position: absolute;
                right: 320px;
                width: 1px;
                top: 0;
                bottom: 0;
                background: #cae6f8
            }
 
        </style>
       <style>
        .RadiacionSolar div.enedia {
            border: 1px solid #dddddd;
            height: 95px;
            cursor: pointer;
        }

        .RadiacionSolar div.horhor {
            display: block;
            margin: 0;
            padding: 0;
            border: 1px solid #dddddd;
            border-top: 0;
            height: 40px;
        }

        .RadiacionSolar div.horhor span {
            display: inline-block;
            position: absolute;
        }

        .RadiacionSolar div.horhor span.hora {
            line-height: 40px;
            top: 0;
            left: 0;
            width: 60px;
            height: 40px;
            text-align: center;
        }

        .RadiacionSolar div.horhor span.ener {
            line-height: 30px;
            top: 0;
            right: 0;
            width: 90px;
            height: 40px;
            text-align: center;
        }

        .RadiacionSolar div.horhor span.ener sup {
            font-size: 10px;
        }

        .RadiacionSolar div.horhor span.bar {
            top: 15px;
            left: 60px;
            right: 90px;
            height: 10px;
            background-color: #f5f5f5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

        .RadiacionSolar div.horhor span.bar span.rad {
            display: block;
            position: relative;
            background-color: #dd0707;
            height: 10px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

        .RadiacionSolar div.enedia h3 {
            line-height: 20px;
            height: 20px;
            left: 0;
            padding: 10px;
        }

        .RadiacionSolar div.enedia span.more {
            display: block;
            position: absolute;
            left: 10px;
            top: 55px;
            line-height: 40px;
            padding-right: 35px;
            background-image: url(https://oc.tutiempo.net/i/icos/down.png);
            background-repeat: no-repeat;
            background-position: 100% 50%;
            background-size: auto 12px;
            font-size: 16px;
        }

        .RadiacionSolar div.enedia.open {
            background-color: #fdfdfd;
        }

        .RadiacionSolar div.enedia.open span.more {
            background-image: url(https://oc.tutiempo.net/i/icos/up.png);
        }

        .RadiacionSolar div.enedia span.barg {
            display: block;
            position: absolute;
            left: 10px;
            top: 40px;
            right: 10px;
            height: 14px;
            background-color: #f5f5f5;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            border-radius: 7px;
        }

        .RadiacionSolar div.enedia span.barg span.rad {
            display: block;
            position: relative;
            background-color: #dd0707;
            height: 14px;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            border-radius: 7px;
        }

        .RadiacionSolar div.enedia span.tot {
            font-size: 20px;
            position: absolute;
            left: 70px;
            top: 60px;
            right: 10px;
            text-align: right;
            line-height: 24px;
        }

        .RadiacionSolar div.enedia span.tot sup {
            font-size: 10px;
        }

        .RadiacionSolar div.ocultas {
            display: none;
        }

        .RadiacionSolar .space {
            height: 10px;
            overflow: hidden;
        }
    </style>
       
    </head>
   

<style>

/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
.perrito2{
padding-bottom: 400px;
padding-right:450px;
}


*{
padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
font-family: 'Poppins', sans-serif;
}
header{
position: fixed;
top: 0;
left: 0;
right: 0;
}
header nav{
width: 90%;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
height: 80px;
}
header nav .logo{
width: 150px;
}
header nav .menu{
display: flex;
align-items: center;
}
nav .menu a{
color: #fff;
margin-left: 30px;
position: relative;
}
nav .menu a::after{
content: '';
position: absolute;
bottom: -5px;
left: 0;
width: 0%;
height: 2px;
background-color: #dd0707;
transition: 0.4s;
}
nav .menu a:hover::after{
width: 100%;
}
nav .social a i{
color: #fff;
font-size: 22px;
margin-left: 10px;
transition: 0.3s;
}
nav .social a i:hover{
transform: scale(1.3);
color: #dd0707;
}




.hero{
width: 100%;
height: 100vh;
background: url(img/bg.jpg);
background-position: center;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}
.hero .text{
width: 100%;
margin: auto;

}
.hero .text h4{
font-size: 40px;
color: #fff;
font-weight: 500;
margin-bottom: 10px;
}
.hero .text h1{
color: #fff;
font-size: 65px;
text-transform: uppercase;
line-height: 1;
margin-bottom: 30px;
}
.hero .text h1 span{
color: #dd0707;
font-size: 80px;
font-weight: bold;
}
.hero .text p{
color: #fff;
margin-bottom: 5px;
}
.hero .text .btn{
padding: 10px 30px;
background-color: #dd0707;
text-transform: uppercase;
color: #fff;
font-weight: bold;
border-radius: 30px;
border: 2px solid #dd0707;
transition: 0.3s;
}
.hero .text .btn:hover{
background-color: transparent;
}


</style>

</body>
</html>